.nav-side-panel {
 font-family: arial, sans-serif;
 color: #222;
 margin-top: 5px;
 margin-bottom: 5px;
}

.mail-compose {
 font-family: arial,sans-serif;
 font-weight: bold;
 color: white;
 margin-top: 7px;
 margin-bottom: 7px;
}

.mail-mail{
color: #DD4B39;
cursor: pointer;
font-size: 14pt;
line-height: 29px;
}
a:link {
    color: #222;
}
/* visited link */
a:visited {
    color: #222;
}
hr {
	margin-top: 0px;
	margin-botton: 0px;
}
.button-custom {
	width: 60%;
}
.hr-custom{
	margin-top: 10px;
}