.nav-side-panel {
 font-family: arial, sans-serif;
 color: #222;
 margin-top: 5px;
 margin-bottom: 5px;
}

.mail-compose {
 font-family: arial,sans-serif;
 font-weight: bold;
 color: white;
 margin-top: 7px;
 margin-bottom: 7px;
}

.mail-mail{
color: #DD4B39;
cursor: pointer;
font-size: 14pt;
line-height: 29px;
}
a:link {
    color: #222;
}
/* visited link */
a:visited {
    color: #222;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom-color: gray;
	border-top-color:gray;
}
.button-custom {
	width: 60%;
}
.hr-custom {
	margin-top: 10px;
}
ul.nav-tabs li.active a {
	border-top-width: 3px;
}
.light-gray-background{
	background-color: rgba(243, 243, 243, .85);
	color: #222;
}
.email-row-custom{
	margin-right: 0px;
	margin-left: 0px;
}
.zero-padded-column-custom{
	padding-left: 0px;
	padding-right: 0px;
}
.vcenter-custom {
    display: inline-block;
    vertical-align: middle;
    float: none;
}